{:paths ["src" "test" "resources"]
 :mvn/repos {"clojars" {:url "https://repo.clojars.org/"}}
 :aliases
 {:test {:main-opts ["-e" "(require 'clojure.test)(require 'tailrecursion.restructure-test)(require 'tailrecursion.restructure-clos-test)(require 'tailrecursion.restructure-clos-demo-test)(clojure.test/run-tests 'tailrecursion.restructure-test 'tailrecursion.restructure-clos-test 'tailrecursion.restructure-clos-demo-test)"]}
  :build {:extra-deps {io.github.clojure/tools.build {:mvn/version "0.10.7"}
                       deps-deploy/deps-deploy {:mvn/version "0.0.12"}}
          :ns-default build}
  :lint {:extra-deps {clj-kondo/clj-kondo {:mvn/version "2026.01.19"}}
         :main-opts ["-m" "clj-kondo.main"]}
  :fmt {:extra-deps {zprint/zprint {:mvn/version "1.3.0"}}
        :main-opts ["-m" "zprint.main"
                    "-w"
                    "src/tailrecursion/restructure.clj"
                    "src/tailrecursion/restructure/parser.clj"
                    "src/tailrecursion/restructure/clos.clj"
                    "test/tailrecursion/restructure_test.clj"
                    "test/tailrecursion/restructure_clos_test.clj"
                    "test/tailrecursion/restructure_clos_demo_test.clj"
                    ".clj-kondo/tailrecursion/restructure/kondo.clj"
                    "resources/clj-kondo.exports/tailrecursion/restructure/tailrecursion/restructure/kondo.clj"]}
  :check {:extra-paths ["dev"]
          :extra-deps {clj-kondo/clj-kondo {:mvn/version "2026.01.19"}
                       zprint/zprint {:mvn/version "1.3.0"}}
          :main-opts ["-m" "check"]}}}
